.login-button,
.register-button {
  display: flex;
  gap: var(--margin);
}

button {
  background-color: var(--blue);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  color: var(--white);
  font-size: var(--fontsize);
  font-weight: bold;
  height: 50px;
  margin-top: var(--margin);
  width: 100px;
  text-transform: capitalize;
}
