* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000000;
  --blue: #457b9d;
  --fontsize: 15px;
  --gray: #808080;
  --margin: 25px;
  --red: #af1515;
  --white: #fff;
  --width: 100%;
  --left: -35px;
  --halfwidth: 50%;
}

#root {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  height: 120vh;
  justify-content: center;
  padding: 50px;
}
.forms-container {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);
  max-width: 600px;
  min-width: 250px;
  overflow: hidden;
  width: var(--width);
}

.forms-container .forms {
  align-items: center;
  display: flex;
  height: 350px;
  transition: height 0.2s ease;
  width: 200%;
}

.forms-container.active .forms {
  height: auto;
}