.success-failure,
.password-failure,
.user-failure,
.confirm-failure {
  background: var(--white);
  color: var(--black);
  display: none;
  margin-top: var(--margin);
  padding-left: 60px;
  width: var(--width);
}

.outValidation,
.username-validation,
.email-validation {
  background: var(--white);
  color: var(--black);
  display: none;
  margin-top: var(--margin);
  padding-left: 60px;
  width: var(--width);
}

.success-succ,
.password-succ,
.user-succ,
.confirm-succ,
.exists-succ,
.empty-feilds-succ {
  background: var(--white);
  color: var(--black);
  color: var(--red);
  display: block;
  margin-top: var(--margin);
  padding-left: 60px;
  width: var(--width);
}

.onValidation,
.onUserValidation,
.onEmailValidation {
  background: var(--white);
  color: var(--black);
  display: block;
  margin-top: var(--margin);
  padding-left: 60px;
  width: var(--width);
}

.valid {
  color: #155c15;
}

.valid:before {
  content: "✔";
  left: var(--left);
  position: relative;
}

.invalid {
  color: var(--red);
}

.invalid:before {
  content: "✖";
  left: var(--left);
  position: relative;
}