.gender-label {
  padding: 10px;
}

.checkboxes-gender {
  position: relative;
}

.checkboxes-gender input[type="checkbox"] {
  accent-color: var(--blue);
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  cursor: pointer;
}

.gender-choices {
  color: var(--gray);
  display: flex;
  font-size: 20px;
  gap: 30px;
  justify-content: center;
  margin-top: var(--margin);
}
